#hero{
    width: 100%;
    height: 100%;
    margin: 2rem 0;

}

.hero__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5rem;
}

.top__items__wrapper{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
}

.top__items{
    width: 40%;
}

.bottom__items{
    width: 90%;
}



h3{
    margin: 4rem 0 0 0 ;
}

input{
    padding: 0.5rem;
    border-radius: 1rem;
    width: 99%;
    text-align: center;
}

.row--1,
.row--2,
.row--3{
    width: 80%;
}

table{
    table-layout: fixed;
    background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--dark-color) 75%
    
  );
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.numbers{
    width: 20%;
}


td{
    border-block-end: 1px solid black;
    text-align: center;
}

.button__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 0 0 1rem;
}

thead th:nth-child(1){
    width: 5%;
}

thead th:nth-child(2){
    width: 10%;
}

thead th:nth-child(3){
    width: 30%;
}

thead th:nth-child(4){
    width: 30%;
}

.submit__btn{
    margin: 1rem 0;
}